* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(205, 247, 255);
}

h2 {
 color: white;
}

.main {
    height: 600px;
    width: 600px;
    border: 5px solid rgb(241, 105, 241);
    background: linear-gradient(45deg, blue, purple);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
}

.qr-container {
    height: 270px;
    width: 270px;
    border: 3px solid white;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.generate-btn {
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    background-color: rgb(0, 81, 255);
    cursor: pointer;
    transition: all 0.5s;
}

.generate-btn:hover {
    width: 400px;
    background-color: rgb(138, 154, 223);
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

input {
    height: 50px;
    width: 300px;
    padding-left: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
    outline: none;
    border: none
}

input::placeholder {
    color: gray;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: white;
}

.download-btn {
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    margin-top: 20px;
    background-color: rgb(64, 229, 64);
    cursor: pointer;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
}

.download-btn:hover {
    width: 400px;
    background-color: rgb(124, 188, 124);
}




@media only screen and (max-width: 640px) {
    .main {
        height: 60vh;
        width: 60vw;
    }
    h2 {
        font-size: 1.3rem;
    }
    .generate-btn,
    .download-btn {
        width: 200px;
        height: 50px;
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 530px) {
    .main {
        height: 60vh;
        width: 60vw;
    }
    h2 {
        font-size: 1.3rem;
    }
    .generate-btn,
    .download-btn {
        width: 200px;
        height: 50px;
        font-size: 1.2rem;
    }
    input {
        width: 70%;
    }

}


@media only screen and (max-width: 480px) {
    .main {
        height: 60vh;
        width: 60vw;
    }
    h2 {
        font-size: 1.3rem;
    }
    .generate-btn,
    .download-btn {
        width: 200px;
        height: 50px;
        font-size: 1.2rem;
    }
    input {
        width: 70%;
    }
    .qr-container {
        height: 150px;
        width: 150px;
    }

}

@media only screen and (max-width: 350px) {
    .main {
        height: 60vh;
        width: 60vw;
    }
    h2 {
        font-size: 1.3rem;
    }
    input {
        width: 70%;
    }
    .qr-container {
        height: 150px;
        width: 150px;
    }

}

@media only screen and (max-width: 340px) {
    .main {
        height: 60vh;
        width: 75vw;
    }
    h2 {
        font-size: 1.3rem;
    }
    input {
        width: 70%;
    }
    .qr-container {
        height: 150px;
        width: 150px;
    }
    .download-btn {
        height: 30px;
        width: 100px;
        font-size: 10px;
    }
    .generate-btn {
        height: 30px;
        width: 100px;
        font-size: 10px;
    }

}

@media only screen and (max-width: 280px) {
    .main {
        height: 60vh;
        width: 75vw;
    }
    h2 {
        font-size: 1.1rem;
    }
    input {
        width: 70%;
    }
    .qr-container {
        height: 150px;
        width: 150px;
    }
    .download-btn {
        height: 30px;
        width: 100px;
        font-size: 10px;
    }
    .generate-btn {
        height: 30px;
        width: 100px;
        font-size: 10px;
    }

}